.botao {
    background-color: var(--amarelo);
    box-shadow: 10px 10px 30px #FFCB473D;
    border: none;

    color: var(--branco);
    
    font-family: inherit;
    font-weight: bold;
    
    text-align: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    
    width: 100%;

}