.botao {
    background-color: #FFCB47;
    box-shadow: 10px 10px 30px #FFCB473D;
    border: none;

    color: #FFF;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
    text-align: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    
    width: 100%;

}