body {
    background-color: #FFF;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produtos li {
    box-sizing: border-box;
    width: 30%;
    padding: 30px 20px;
    border: 2px solid #000;
    border-radius: 8px;
    text-align: center;
}

.produtos li:hover {
    border-color: #9c8d39;
}

.produtos li:active {
    border-color: #d6d2c5;
}


.produtos h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
}


.produto-descricao {
    padding: 10px 10px 20px 10px;
    border-bottom: .5px solid #000;
}

.produto-preco {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 25% 0;
}

.produtos li:hover h2,
.produtos li:hover .produto-preco{
    color: #c2ae3e;
}