body {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    
}

header {
    background-color: #d6d2c5;
    padding: 20px 0;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 28px
}

nav a:hover {
    color: #554d1e;
    text-decoration: underline;
}

.menu-container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    height: 60vh;
}

.produtos li {
    box-sizing: border-box;
    display: inline-block;
    width: 28%;
    vertical-align: top;
    text-align: center;
    margin: 0 1.5%;
    padding: 30px 20px;
    border: 2px solid #000;
    border-radius: 8px;
}

.produtos li:hover {
    border-color: #9c8d39;
}

.produtos li:active {
    border-color: #d6d2c5;
}


.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.produtos li:hover h2 {
    font-size: 34px;
    color: #c2ae3e;
}

.produto-descricao {
    font-size: 18px;
    padding: 10px 10px 20px 10px;
    border-bottom: .5px solid #000;
    
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.produtos li:hover .produto-preco {
    font-size: 28px;
}

footer {
    background-color: #415361;
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #FFF;
    font-size: 16px;
    margin: 20px 0;
}