ul {
    list-style-type: none;
    
}

header {
    background-color: #d6d2c5;
    padding: 20px 0;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px
}

nav a:hover {
    text-decoration: underline;
}

.menu-container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.produtos li {
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: center;
    margin: 0 1.5%;
    padding: 30px 20px;
    border: 2px solid #000;
    border-radius: 8px;
}


.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.produto-descricao {
    font-size: 18px;
    padding: 10px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}