img {
    width: 100%;
}

p {
    text-align: center;
}

p em strong {
    color: #FF0000;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 5%;
}


.titulo-principal {
    padding-left: 20px;
}

.principal {
    background-color: whitesmoke;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}

#missao {
    font-size: 20px;
}

.itens {
    font-style: italic;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

.img-beneficios {
    width: 50%;
}